<section>
    <div id="add-ad-form" class="form col-lg-4 col-lg-offset-4 ">

        <header class="form-header">Publish New Add</header>
        <hr/>

        <div class="data form-group">
            <label for="title">Title: </label>
            <input type="text" id="title" class="form-control" />
            <label for="text">Text: </label>
            <textarea name="" id="text" cols="30" rows="5" class="form-control"></textarea>
            <label for="image">Image: </label>
            <input type="file" id="image" class="form-control"/>
            <label for="category">Category: </label>
            <select name="" id="category" class="form-control">
                <option value="">{{category}}</option>
            </select>
            <label for="town">Town: </label>
            <select name="" id="town" class="form-control">
                <option value="">{{town}}</option>
            </select>
        </div>


        <button class="btn btn-default btn-md submit">Publish</button>
        <a href="#/user/ads" class="btn btn-default btn-md submit">Cancel</a>

    </div>
</section>