<header id="page-header">
    <div class="text-center">
        <p>Ads &ndash; Home</p>
    </div>
</header>

<aside>
    <div class="left-sidebar col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <div class="text-center col-lg-offset-0" id="heading">To publish a new ad, please login.</div>
        <div class="text-center">
            <a href="#/login" class="btn btn-default btn-lg submit">Login</a>
            <a href="#/register" class="btn btn-default btn-lg submit">Register</a>
        </div>
    </div>
</aside>

<section class="container-fluid" ng-controller="AdsController">
    <div class="ads col-lg-offset-4">
        <div class="jumbotron ad-container" ng-repeat="ad in data.ads">
            <div class="row">
                <div class="col-lg-6">
                    <h4 ng-style={"fontWeight":"bold"}>{{ ad.title }}</h4>
                </div>
                <div class="col-lg-6">
                    <time class="pull-right" ng-style={"fontWeight":"bold"}>{{ ad.date | date:'d-MMM-yyyy' }}</time>
                </div>
                <div class="image-container">
                    <img ng-src="{{ ad.imageDataUrl }}" class="img"/>
                    <img data-ng-if="!ad.imageDataUrl" data-ng-src="images/no-image.png" class="img"/>
                </div>
                <div class="well well-md ad-text ">{{ ad.text }}</div>
                <span>Name</span>

                <div class="well well-sm ownerInfo">{{ ad.ownerName }}</div>
                <span>Email</span>

                <div class="well well-sm ownerInfo"><a href="mailto:{{ad.ownerEmail}}">{{ad.ownerEmail}}</a></div>
                <span>Tel</span>

                <div class="well well-sm ownerInfo">{{ ad.ownerPhone }}</div>
            </div>
        </div>
    </div>
</section>

<!--<aside>-->
<!--<div class="filters pull-right col-lg-3">-->
<!--<div class="">-->
<!--<header class="form-header">Categories</header>-->
<!--<hr/>-->
<!--<div>-->
<!--<ul>-->
<!--<li>-->
<!--<div>-->
<!--<button>All</button>-->
<!--</div>-->

<!--</li>-->
<!--<li ng-repeat="category in data">-->
<!--<div>-->
<!--<button>{{ category.name }}</button>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<!--<div ng-controller="TownsController">-->
<!--<header class="form-header">Towns</header>-->
<!--<hr/>-->

<!--<ul>-->
<!--<li>-->
<!--<button>All</button>-->
<!--</li>-->
<!--<li ng-repeat="town in data">-->
<!--<button>{{ town.name }}</button>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
</div>
</aside>

