<header id="page-header">
    <div class="text-center" >
        <p>Ads &ndash; Registration</p>
    </div>
</header>

<aside>
    <div class="nav col-lg-2 col-md-2 col-sm-3 col-xs-3 col-lg-offset-1">
        <p>To publish a new ad, please login.</p>
        <div class="col-lg-offset-2">
            <a href="#/login" class="btn btn-default btn-md submit">Login</a>
            <a href="#/register" class="btn btn-default btn-md submit">Register</a>
        </div>
    </div>
</aside>

<section>
    <div id="registration-form" class="form col-md-3">

        <header class="form-header">User Registration</header>
        <hr/>

        <div class="data form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" class="form-control"/>
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control"/>
            <label for="confirm-password">Confirm password:</label>
            <input type="password" id="confirm-password" class="form-control"/>
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control"/>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" class="form-control"/>
            <label for="email">Email:</label>
            <input type="text" id="email" class="form-control"/>
            <label for="town">Town:</label>
            <select name="" id="town" class="form-control">
                <option value="">{{town}}</option>
            </select>
        </div>

        <div class="panel">
            <button class="btn btn-default btn-md submit">Register</button>
            <a href="#/login" class="link">Login here</a>
        </div>

    </div>
</section>