<section>
    <div id="registration-form">

        <header class="form-header">User Registration</header>

        <div class="data">
            <label for="username">Username:</label>
            <input type="text" id="username"/>
            <label for="password">Password:</label>
            <input type="password" id="password"/>
            <label for="confirm-password">Confirm password:</label>
            <input type="password" id="confirm-password"/>
            <label for="name">Name:</label>
            <input type="text" id="name"/>
            <label for="phone">Phone:</label>
            <input type="text" id="phone"/>
            <label for="email">Email:</label>
            <input type="text" id="email"/>
            <label for="town">Town:</label>
            <select name="" id="town">
                <option value="">{{town}}</option>
            </select>
        </div>

        <div class="panel">
            <button>Register</button>
            <a href="#/login">Login here</a>
        </div>

    </div>
</section>