<section>
    <div>
        <header class="form-header">Confirm Deleting Ad?</header>
        <hr/>

        <div class="data">
            <textarea name="" id="" cols="30" rows="10" disabled>{{text}}</textarea>
            <label for="category">Category:</label>
            <input type="text" id="category" value="{{category}}" disabled/>
            <label for="town">Town:</label>
            <input type="text" id="town" value="{{town}}" disabled/>
        </div>

        <div class="panel">
            <button>Delete</button>
            <a href="#/user/ads">Cancel</a>
        </div>

    </div>
</section>