<section>
    <div class="ads">
        <ul>
            <li>
                <div class="ad-info"></div>
            </li>
        </ul>
    </div>

    <aside class="filters">
        <div>
            <header class="form-header">Categories</header>
            <hr/>

            <ul>
                <li>
                    <button>All</button>
                </li>
                <li>
                    <button>{{category}}</button>
                </li>
            </ul>
        </div>

        <div>
            <header class="form-header">Towns</header>
            <hr/>

            <ul>
                <li>
                    <button>All</button>
                </li>
                <li>
                    <button>{{town}}</button>
                </li>
            </ul>
        </div>
    </aside>

</section>